.faq{

    padding:100px 8%;

    background:#F8FAFC;

}

.faq-title{

    text-align:center;

    margin-bottom:60px;

}

.faq-title span{

    color:#6366F1;

    font-weight:600;

}

.faq-title h2{

    font-size:42px;

    margin:15px 0;

    color:#1E293B;

}

.faq-title p{

    color:#64748B;

    max-width:650px;

    margin:auto;

}

.faq-container{

    max-width:850px;

    margin:auto;

}

.faq-item{

    background:white;

    border-radius:15px;

    margin-bottom:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.06);

    overflow:hidden;

}

.faq-question{

    width:100%;

    background:none;

    border:none;

    padding:25px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    cursor:pointer;

    font-size:18px;

    font-weight:600;

    color:#1E293B;

}

.faq-answer{

    padding:0 25px 25px;

    color:#64748B;

    line-height:1.8;

}