.hero{
    min-height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:120px 8% 80px;

    background:#F8FAFC;

    gap:60px;
}

.hero-content{
    flex:1;
}

.hero-tag{

    display:inline-block;

    background:#EEF2FF;

    color:#6366F1;

    padding:10px 18px;

    border-radius:30px;

    font-weight:600;

    margin-bottom:25px;
}

.hero h1{

    font-size:64px;

    line-height:1.1;

    color:#1E293B;

    margin-bottom:25px;
}

.hero h1 span{

    color:#6366F1;
}

.hero p{

    font-size:18px;

    color:#64748B;

    max-width:550px;

    line-height:1.8;

    margin-bottom:35px;
}

.hero-buttons{

    display:flex;

    gap:20px;
}

.btn-primary{

background:linear-gradient(
135deg,
#6366F1,
#8B5CF6
);

color:white;

border:none;

padding:16px 34px;

border-radius:12px;

cursor:pointer;

font-weight:600;

transition:.35s;

box-shadow:0 15px 25px rgba(99,102,241,.25);

}

.btn-primary:hover{

    transform:translateY(-5px);

    box-shadow:0 20px 35px rgba(99,102,241,.4);
}

.btn-secondary{

    background:white;

    border:2px solid #6366F1;

    color:#6366F1;

    padding:15px 32px;

    border-radius:12px;

    cursor:pointer;

    transition:.3s;
}

.btn-secondary:hover{

    background:#6366F1;

    color:white;
}

.hero-dashboard{

    flex:1;

    display:flex;

    justify-content:center;
}

.dashboard{

    width:420px;

    background:white;

    border-radius:20px;

    box-shadow:0 20px 60px rgba(0,0,0,.08);

    overflow:hidden;
}

.dashboard-header{

    background:#6366F1;

    color:white;

    padding:20px;

    font-size:20px;

    font-weight:600;
}

.dashboard-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:20px;

    padding:25px;
}

.card{

    background:#F8FAFC;

    border-radius:15px;

    text-align:center;

    padding:25px;

    transition:.3s;
}

.card:hover{

    transform:translateY(-5px);
}

.card h3{

    color:#6366F1;

    font-size:30px;

    margin-bottom:8px;
}

.card span{

    color:#64748B;
}

@media(max-width:900px){

.hero{

flex-direction:column;

text-align:center;

}

.hero h1{

font-size:46px;

}

.hero-buttons{

justify-content:center;

}

.dashboard{

width:100%;

}

}